{% macro print_messages(messages) %}
    {% if messages is iterable %}
        {% for message in messages %}
            {{ _self.print_message(message) }}
        {% endfor %}
    {% else %}
        {{ _self.print_message(messages) }}
    {% endif %}
{% endmacro %}

{% macro print_message(message) %}
    {% if message.content %}
        {% set content=message.content %}
        {% if message.type == constant('View\\Message::TYPE_SUCCESS') %}
            {% set type='success' %}
        {% elseif message.type == constant('View\\Message::TYPE_ERROR') %}
            {% set type='danger' %}
        {% endif %}

        <div class="alert alert-{{ type ? type : 'info' }}">
            {{ content }}
        </div>
    {% endif %}
{% endmacro %}
